#root {
    height: 100%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: [map-start] 1fr [map-end lines-start] fit-content(80%) [lines-end];
    grid-template-rows: [dowpick-start] fit-content(20%) [dowpick-end map-start] 1fr [map-end timerange-start] 5.5rem [timerange-end];
    grid-template-areas:
        "dowpick lines"
        "map lines"
        "timerange lines";
    gap: 8px 8px;
    padding: 8px;
}

.section-label {
    margin-bottom: 0.5rem;
}

#dowpick {
    grid-area: dowpick;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

#map {
    grid-area: map;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

#lines {
    grid-area: lines;
}

#lines-list {
    flex: 1 1 auto;
}

.line-item {
    padding: 2px 0;
    display: block;
}
.line-item, .line-item * {
    cursor: pointer;
}

#timerange {
    grid-area: timerange;
}

#timerange-labels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#timerange-labels p {
    width: 2.75rem;
    text-align: center;
    user-select: none;
}

#timerange-line {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0;
    margin: 0 1.2rem;
    position: relative;
    user-select: none;
}

.timerange-line-block {
    flex: 1 1 0;
    border-color: black;
    border-style: solid;
    border-width: 2px 0;
}
    .timerange-line-block.timerange-line-block-left {
        border-left-width: 2px;
        border-radius: 10px 0 0 10px;
    }
    .timerange-line-block.timerange-line-block-right {
        border-right-width: 2px;
        border-radius: 0 10px 10px 0;
    }

    .timerange-line-block.timerange-line-selected {
        border-color: black;
        border-width: 4px 0;
        cursor: grab;
    }
        .timerange-line-block.timerange-line-selected.timerange-line-selected-left {
            border-left-width: 4px;
        }
            .timerange-line-block.timerange-line-block-left.timerange-line-selected.timerange-line-selected-left {
                border-radius: 10px 0 0 10px;
            }
        .timerange-line-block.timerange-line-selected.timerange-line-selected-right {
            border-right-width: 4px;
        }
            .timerange-line-block.timerange-line-block-right.timerange-line-selected.timerange-line-selected-right {
                border-radius: 0 10px 10px 0;
            }
    .timerange-line-block:not(.timerange-line-selected) {
        filter: opacity(0.5)
    }

.timerange-grab {
    position: absolute;
    height: 100%;
    width: 2.5%;
    cursor: ew-resize;
    z-index: 1;
}

.timeline-grabbing .timerange-line-block.timerange-line-selected {
    cursor: grabbing;
}
.timeline-resizing .timerange-line-block {
    cursor: ew-resize;
}

.tile-layer-greyscale {
    filter: grayscale(0.8) contrast(0.2) brightness(1.6)
}

#popup {
    max-width: 40rem;
    padding: 1rem;
    position: relative;
}

#popup-close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 0.9rem;
}

#popup-content {
    gap: 1rem;
}